footer#main-footer.bgblue
    .container.footer-container
        .social
        a.btnLink(href='https://www.facebook.com/BrasileirinhosDk' target='_blank')
            i.fab.fa-facebook.fa-2x
        a.btnLink(href='https://www.instagram.com/brasileirinhosdk' target='_blank')
            i.fab.fa-instagram.fa-2x
        a.btnLink(href='https://www.youtube.com/channel/UCJrNlu5qglRlfCZsjjpcNvQ' target='_blank')
            i.fab.fa-youtube.fa-2x
        .copyRight
        a.btnNina.fontWhite(href='https://www.linkedin.com/in/marina-figueir%C3%B3-41232423/')
            | Copyright &copy; Web App by M Figueir&oacute;