<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid navMenu">
        <a class="navbar-brand" href="">
            <img class="logo" src="/img/brascropd.png" alt="">
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span> 
        </button>

        <div id="navbarNavDropdown" class="collapse navbar-collapse" >
            <ul class="navbar-nav navItems">
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">| Sobre n칩s</a>
                    
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                        <a class="dropdown-item" href="">Nossa hist칩ria</a> 
                        </li>
                        <li>
                        <a class="dropdown-item" href="">Conselho administrativo</a>
                        </li>
                        <li>
                        <a class="dropdown-item" href="">Seja um volunt치rio</a>
                        </li>
                    </ul> 
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdownMenuLink" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="">Calend치rio</a> 
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                        <a class="dropdown-item" href="">Atividades mensais</a>
                        </li>
                        <li>
                        <a class="dropdown-item" href="">Eventos culturais anuais</a>
                        </li>
                    </ul> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Biblioteca</a>
                </li>
                <li class="lastChildSelector nav-item">
                    <a class="nav-link" href="">Contato</a>
                </li> 
                <li class="itemRight nav-item">
                    <a class="nav-link" aria-current="page" href="">
                        <img class="userPhoto" src="" alt=""> 
                        <span>User Name</span>
                    //- span= user.name.split(' ')[0] 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav__el--logout" href="">Sair</a>
                </li>
                    
                <li class="itemRight nav-item">
                    <a class="nav-link" href="">Login</a>
                </li>
            </ul> 
        </div>
    </div>    
</nav>