doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet' href='/css/bootstrap-5.0.0-beta2-dist/css/bootstrap-grid.min.css')
        link(rel='stylesheet' href='/css/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==' crossorigin='anonymous')
        // CSS
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/natours-style.css')
        title Curumim | #{title}
   
    <body>
        // HEADER
        include _header
        
        block content
            h1 This is a placeholder from the base

        // Footer
        include _footer
    </body>
    //- script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js' integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n' crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js' integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb' crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js')
    //- script(src='/css/bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js')
    //- script(src='/js/login.js')
    script(src='/js/bundle.js')


