extends base
block content 

    <main class="main">
        <div class="pageContainer">
        <div class="pageHeader bg-green">
            <h1>Users</h1>
        </div>
        <div class="library-container">
            each user in users
                <div class="card livroCard">
                    //- <img class="bibliotecaImg" src="" alt="Book img">
                    //- <img class="bibliotecaImg" src="" alt="Book img">
                    img.bibliotecaImg(src=`${user.img}`, alt=`${user.name}`)
                    <div class="card-body">
                    //- <h6 class="card-title">user name</h6> 
                    h6.card-title= user.name 
                    //- <p class="card-text">user author</p>
                    p.card-text= user.email
                    </div>
                    <a class="btn btn--green span-all-rows mg-bt-1" href="">Reserve</a>                  
                </div>
        </div>
        </div>
    </main>